<template>
	<div>
		<h2>Students</h2>
	    <hr>
	    <form @submit.prevent="addStudent" class="mb-3">
	    	<div class="form-group">
		        <input type="text" class="form-control" placeholder="First Name" v-model="student.first_name">
		    </div>
		    <div class="form-group">
		        <textarea class="form-control" placeholder="Last Name" v-model="student.last_name"></textarea>
		    </div>
		    <div class="form-group">
		        <textarea class="form-control" placeholder="Middle Name" v-model="student.middle_name"></textarea>
		    </div>
		    <button type="submit" class="btn btn-light btn-block">Save</button>
	    </form>
	    <nav aria-label="Page navigation example">
	      	<ul class="pagination">
		        <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchStudents(pagination.prev_page_url)">Previous</a></li>

		        <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>
		    
		        <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchStudents(pagination.next_page_url)">Next</a></li>
	      	</ul>
	    </nav>
		<div class="card card-body mb-2" v-for="student in students" v-bind:key="student.id">
			<h3>Student Name: </h3> <h5>{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</h5>
			<button @click="editStudent(student)" class="btn btn-warning mb-2">
	    		Edit
	    	</button>
			<button @click="deleteStudent(student.id)" class="btn btn-danger">
	    		Delete
	    	</button>
		</div>
	</div>
</template>

<script>
export default {
  	data() {
	    return {
	      	students: [],
	      	student: {
	      		id: '',
	        	first_name: '',
	        	last_name: '',
	        	middle_name: ''
	      	},
	      	student_id: '',
	      	pagination: {},
	      	edit: false
	    };
  	},
  	created() {
    	this.fetchStudents();
  	},
  	methods: {
    	fetchStudents(page_url) {
    	let vm = this;
      	page_url = page_url || '/api/students';
      	fetch(page_url)
        	.then(res => res.json())
        	.then(res => {
        		this.students = res.data;
        		vm.makePagination(res);
        		console.log(res);
        	})
        	.catch(err => console.log(err));
    	},
    	makePagination (res) { 
    		let pagination = {
		    	current_page: res.current_page,
		        last_page: res.last_page,
		        next_page_url: res.next_page_url,
		        prev_page_url: res.prev_page_url
		    };
      		this.pagination = pagination;
    	},
    	deleteStudent(id) {
    		if(confirm('Are You Sure You?')) {
    			fetch(`api/student/delete/${id}`, {
		          method: 'delete'
		        })
    			.then(res => res.json())
		        .then(data => {
		            alert('Article Removed');
		            this.fetchStudents();
		        })
		        .catch(err => console.log(err));
    		}
    	},
    	addStudent() {
    		if(this.edit === false) {
    			fetch('api/student/create', {
		          	method: 'post',
		          	body: JSON.stringify(this.student),
		          	headers: {
		            	'content-type': 'application/json'
		          	}
		        })
		        .then(res => res.json())
		        .then(data => {
		            this.student.first_name = '';
		            this.student.last_name = '';
		            this.student.middle_name = '';
		            alert('Data Added');
		            var current_page = this.pagination.current_page;
		            var url = "http://localhost:8000/api/students?page=" + current_page;
		            this.fetchStudents(url);
		        })
		        .catch(err => console.log(err));
    		} else {
    			fetch('api/student/update', {
		          	method: 'post',
		          	body: JSON.stringify(this.student),
		          	headers: {
		            	'content-type': 'application/json'
		          	}
		        })
		        .then(res => res.json())
		        .then(data => {
		            this.student.first_name = '';
		            this.student.last_name = '';
		            this.student.middle_name = '';
		            alert('Data Added');
		            var current_page = this.pagination.current_page;
		            var url = "http://localhost:8000/api/students?page=" + current_page;
		            this.fetchStudents(url);
		        })
		        .catch(err => console.log(err));
    		}
    	},
    	editStudent (student) {
    		this.edit = true;
    		this.student.id = student.id;
    		this.student.student_id = student.id;
    		this.student.first_name = student.first_name;
    		this.student.last_name = student.last_name;
    		this.student.middle_name = student.middle_name;
    	}
  	}
};
</script>